(common) {
  header /* {
    -Server
  }
}

:{$PORT} {
  import common

  root * /usr/share/caddy
  encode zstd gzip

  route {
    try_files {path} {path}/ {path}.html /index.html

    file_server
  }
}
