(common) {
  header /* {
    -Server
  }
}

medgala.cz, www.medgala.cz {
  tls internal
  import common

  root * /usr/share/caddy
  encode zstd gzip

  handle /api/* {
    reverse_proxy {$PHP_API_ADDR}
  }

  handle {
    try_files {path} {path}.html {path}/ /index.html
    file_server
  }
}
